html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Jost', sans-serif !important; */
  font-family: 'Roboto', sans-serif !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #BF2024;
  font-size: 1rem;
  font-weight: 600 !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #BF2024 !important;
  box-shadow: 0px 3px #BF2024;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/icons/ham.png);
  /* data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e */
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #BF2024 !important;
}

/* for hero */
#hero_home {
  background-image: url(../images/hero_home.jpg);
  background-size: cover;
  height: 90vh;
  position: relative;
  /* for blur */
  /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

#hero_home .color-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end for hero */

/* for hero_home_trial */
#hero_home_trial {
  background-image: url(../images/slider-image.png);
  background-size: cover;
  height: 90vh;
  position: relative;
  /* for blur */
  /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

#hero_home_trial .color-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end for hero_home_trial */

footer {
  background-color: #BF2024;
  /* height: 22vh; */
  color: #ffff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 1.5px;
}

.wht-width {
  background-color: #ffff;
  width: 50%;
  margin-left: 0;
  margin-top: 0px;
}

.head-div {
  margin-top: 30vh;
  font-size: 3rem;
  font-weight: 600;
  /* color: #BF2024; */
  color: #ffff;
}

.btn {
  border-radius: 3rem !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

.btn:hover {
  color: #ffff !important;
}

.btn-primary {
  /* background-color: #BF2024 !important;
    border-color: #BF2024 !important; */
  color: #BF2024;
  background-color: #ffff !important;
  border-color: #ffff !important
}

.btn-primary-contact {
  /* background-color: #BF2024 !important;
    border-color: #BF2024 !important; */
  color: #ffffff;
  background-color: #BF2024 !important;
  border-color: #BF2024 !important
}

.btn-primary:hover {
  background-color: #BF2024 !important;
  border-color: #BF2024 !important;
}

.navbar-toggler {
  border: none !important;
}

.fab {
  margin-right: 10px;
  pointer-events: all;
}

.style-none {
  text-decoration: none;
  color: #ffff;
}

.style-none:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 1px rgb(255, 255, 255);
}

.logo-img {
  height: 50px;
}

.h2-bold {
  font-weight: 600;
  margin-top: 10px;
}


.h2-bold-left {
  font-weight: 600;
  margin-top: 10px;
}

.card {
  margin-top: 5px;
  border: none !important;
  cursor: pointer;
}

.shadow-red {
  box-shadow: 0px 2px #BF2024;
}

/* .shadow-hover { */
/* border: none; */
/* cursor: pointer; */
/* box-shadow: 0px 2px #BF2024; */
/* } */

.shadow-hover :hover {
  cursor: pointer;

}

.hover-red:hover {
  color: #BF2024;
}

nav {
  background-color: rgba(255, 255, 255, 0.95);
}

/* .sec-2{ */
/* background-color: #F6F6F6; */
/* background-image: linear-gradient(0deg,#ffff,#F6F6F6); */
/* } */

.imgggg {
  background-image: url(../images/img1.jpg);
  height: 500px;
  width: auto;
}

.sec-3 {
  background-color: #fff;
  /* background-image: linear-gradient(to left,#ffff,#F6F6F6); */
  /* background-image: linear-gradient(red, yellow, blue); */
}

/* .text-justify {
    text-align: justify;
} */

.text-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.dis-none {
  display: none;
}


/*  */
/*  */

.swal-button {
  background-color: #BF2024;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;
}

ol.breadcrumb {
  padding-inline-start: 0px;
  background-color: #fff;
}

/*  */

::-moz-selection {
  color: #ffffff;
  background: #BF2024;
}

::selection {
  color: #ffffff;
  background: #BF2024;
}

.red-a {
  color: #BF2024;
}

/*  */

/* for FAQ */
a.collapsed {
  color: #212529;
  text-decoration: none;
}

a.collapsed:hover {
  color: #212529;
  text-decoration: none;

}

/* ----- */

.accordion-section .panel-default>.panel-heading {
  border: 0;
  border-radius: 60px;
  background: #f4f4f4;
  padding: 0;
}

.accordion-section .panel-default .panel-title a {
  display: block;
  font-size: 1rem;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome', serif;
  font-style: normal;
  font-size: 1.5rem;
  content: "\f106";
  color: #BF2024;
  float: right;
  margin-top: 5px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

/* end FAQ */

.mob-p {
  font-size: 16px;
}

.shape-z {
  z-index: 99;
}

.back-red {
  /* cursor: pointer; */
  background-image: url(../images/svg/red-block.svg);
  background-repeat: no-repeat;
  /* width: 25%; */
}

.desaturate {
  filter: grayscale(100%);
}

.desaturate:hover {
  filter: grayscale(0%);
}

.form-control {
  border-radius: 2rem !important;
}

.avatar-img {
  border-radius: 500px;
  height: 100px;
  width: 100px;
  border: 4px solid #BF2024;
}

.avatar-div {
  border-radius: 10px;
  background-color: #fdfdfd;
}

.description-short {
  margin-top: -13px;
  font-size: 13px;
}


/* under for mobile */

@media only screen and (max-width: 600px) {
  .head-div {
    margin-top: 30vh;
    font-size: 2rem;
    font-weight: 600 !important;
    /* color: #BF2024; */
    color: #ffff;
  }

  .h2-bold {
    font-weight: 400;
    margin-top: 10px;
    /* text-align: center; */
  }

  .btn {
    border-radius: 3rem !important;
    color: #000000 !important;
    font-weight: 600 !important;
    /* just an comment */
  }

  .h2-bold-left {
    font-weight: 400;
    margin-top: 10px;
  }

  .lead {
    font-size: 1rem !important;
    font-weight: 300;
  }

  .dis-none {
    /* text-decoration: none; */
    display: flex;
  }

  .accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 0.9rem;
  }

  .accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome', serif;
    font-style: normal;
    font-size: 0.8rem;
    content: "\f106";
    color: #bf2024;
    float: right;
    margin-top: 0px;
  }

  .mobile-center {
    text-align: center;
  }

}

.hero-head-ease {
  transition-timing-function: ease-in;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

@media only screen and (min-width: 576px) {
  .hamburglar {
    display: none;
  }
}

.hamburglar {
  -webkit-transform: scale(1);
  transform: scale(1);
  /* position: fixed; */
  margin-right: 10px;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
  mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.path-rotation:before {
  content: '';
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: #fff;
}

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.6s linear normal;
  animation: dash-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.6s linear normal;
  animation: rotate-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.6s linear normal;
  animation: dash-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.6s linear normal;
  animation: rotate-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 240;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 240;
  }
}

.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 55px;
  width: 55px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #000;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
  transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 55px;
  height: 55px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.6s linear normal;
  animation: bun-top-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.6s linear normal;
  animation: bun-bot-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.6s linear normal;
  animation: bun-top-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.6s linear normal;
  animation: bun-bot-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.6s linear normal;
  animation: burger-fill-out 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.6s linear normal;
  animation: burger-fill-in 0.6s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  80% {
    width: 36px;
    left: -6px;
  }

  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  80% {
    width: 36px;
    left: -6px;
  }

  100% {
    width: 36px;
    left: 0px;
  }
}

@-webkit-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }

  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }

  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }
}