.section{
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .main-heading{
    color: #BF1E23;
    font-size: 27px;
    font-family: "Nunito", sans-serif;
    float: right;
    font-weight: 700;
    width: 100%;
    margin-bottom: 0.56rem;

  }
  .text{
    font-size:20px;
    text-align:justify;
    height: large;
  }
  .image{
    float:left;
    padding-left:40px;
    height: medium;
  }
  .img{
    height: 150px;
    width: 150px;
    text-align:center;
  }
   


  
 